@import 'normalize.css';

#horizon {
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: visible;
    display: block;
}

#content {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-left: -200px;
    position: absolute;
    top: -200px;
    left: 50%;
    width: 400px;
    height: 70px;
    visibility: visible;
}

.bodytext {
    font-size: 11pt;
}

.headline {
    font-weight: bold;
    font-size: 24px;
}

#footer {
    font-size: 9pt;
    color: #999999;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 20px;
    visibility: visible;
    display: block;
}

.captions {
    color: white;
    font-size: 9pt;
    line-height: 14px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: left;
}

#caption1 {
    padding-left: 6px;
    position: absolute;
    font-size: 16px;
    top: -30px;
    left: -75px;
    width: 350px;
    height: 20px;
    visibility: visible;
    display: block;
}

#caption2 {
    padding-left: 6px;
    position: absolute;
    top: 70px;
    left: 300px;
    width: 250px;
    height: auto;
    visibility: visible;
    display: block;
}

input.field {
	display:block;
    height: 30px;
    margin: 5px 0;
    padding: 2px 50px;
    color: #6A6969;
    border: 0px;
    background-color: #dddddd;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    width: 100%;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}

input.field:focus {
    background-color: #ffffff;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

input.process {
	display:block;
	margin: 25px auto;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
    font-size: 11pt;
    /* styles for button */
    text-align: center;
    vertical-align: top;
    width: 75px;
    height: 34px;
    //padding: 3px 10px 4px 10px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    /* button color */
    background-color: #3464bc;
    /* css3 implementation :) */
    /* rounded corner */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0px;
    position: relative;
    cursor: pointer;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    transition: background 0.2s linear;
    -webkit-appearance: none;
}

div.login {
    width: 400px;
    /*border: solid 1px #4964a1;*/
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    align: center;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

div.login img.logo {
    display:block;
	margin:10px auto 25px;
}

div.warning {
	color: red;
    margin: 5px 0;
	margin-bottom: 50px;
}

.pace .pace-progress {
    background: #007aff;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}
