/* tables */
table.tablesorter {
	font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top:10px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	color:#3464bc;
	text-decoration:none;
	padding: 0px 7px 0px 7px;
	border-bottom:1px solid #cacbcf;
}

table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	vertical-align:top;
}

table.tablesorter tbody tr.even td {
	background: #f6f6f6;
}

table.tablesorter tbody tr.even td:first-child {
    -moz-border-radius:3px 0px 0px 3px;
    -webkit-border-radius:3px 0px 0px 3px;
    border-radius:3px 0px 0px 3px;
	background: #f6f6f6;
}

table.tablesorter tbody tr.even td:last-child {
    -moz-border-radius:0px 3px 3px 0px;
    -webkit-border-radius:0px 3px 3px 0px;
    border-radius:0px 3px 3px 0px;
	background: #f6f6f6;
}

table.tablesorter thead tr .headerSortUp {
`	padding: 0px 7px 0px 7px;
	border-bottom:3px solid #006cd0;
	padding-bottom:1px;
}

table.tablesorter thead tr .headerSortDown {
	padding: 0px 7px 0px 7px;
	border-bottom:3px solid #006cd0;
	padding-bottom:1px;
}

table.tablesorter thead tr th.header:after {
  font-family: FontAwesome;
  content: "\f0dc";
  color:#ffffff;
  float: right;
  text-align:middle;
  white-space: nowrap;
  padding-left:5px;
}

table.tablesorter thead tr th.headerSortUp:after {
  content: "\f0de";
  float: right;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  padding-left:5px;
  text-align:middle;
  color:#006cd0;
}

table.tablesorter thead tr th.headerSortDown:after {
  content: "\f0dd";
  float: right;
  text-align:middle;
  padding-left:5px;
  padding-bottom:5px;
  color:#006cd0;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}
