/* General */

.calendar-eightysix {
	cursor: default;
	position: absolute;
	z-index: 999;
	text-align: center;
}
	.calendar-eightysix, .calendar-eightysix * {
		overflow: hidden;
		padding: 5px 0px 6px 0px;
		margin: 0px 5px 0px 0px;
		line-height: 100%;
	}
		.calendar-eightysix .c86-header.c86-dragger {
			cursor: move;
		}
		
			.calendar-eightysix .c86-header .c86-arrow-left, .calendar-eightysix .c86-header .c86-arrow-right {
				cursor: pointer;
			}
			.calendar-eightysix .c86-header .c86-arrow-left {
				float: left;
			}
			.calendar-eightysix .c86-header .c86-arrow-right {
				float: right;
			}
			
			.calendar-eightysix .c86-header .c86-label {
				display: inline-block;
				overflow: visible;
				width: 146px;
			}
				.calendar-eightysix .c86-header .c86-label.c86-clickable {
					cursor: pointer;
				}
		
		.calendar-eightysix .c86-body {
			position: relative;
		}
			.calendar-eightysix .c86-body .c86-inner .c86-container {
				position: absolute;
				left: 0;
			}
				
				.calendar-eightysix .c86-body .c86-inner .c86-container .c86-row div {
					float: left;
				}
				
					.calendar-eightysix .c86-body .c86-inner .c86-container.c86-month.c86-pickable .c86-row div, 
					  .calendar-eightysix .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div {
						cursor: pointer;
					}

/* Specific */

.calendar-eightysix.default {
	width: 228px;
	height: 245px;
	//background: url('../img/default/background.png') center no-repeat;
	background:#fff;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
	border-radius:3px;
	border:#959fb0 1px solid;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:10pt;
	color: #888;
}
*html .calendar-eightysix.default { /* IE6 png fix */
	//background-image: url('../img/default/background.gif');
	background:#fff;
}

	.calendar-eightysix.default .c86-wrapper {
		padding: 0px;
	}
		
		/* Header */
		
		.calendar-eightysix.default .c86-header {
			height: 26px;
		}
		
			.calendar-eightysix.default .c86-header .c86-arrow-left, .calendar-eightysix.default .c86-header .c86-arrow-right {
				width: 12px;
				height: 13px;
				margin: 0px 7px 0px 17px;
				padding-left:6px;padding-right:6px;
				-webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			  	-moz-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  				transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			}
			.calendar-eightysix.default .c86-header .c86-arrow-left {
				background: transparent url('../img/arrow-left.png') center no-repeat;
			}
				*html .calendar-eightysix.default .c86-header .c86-arrow-left { /* IE6 png fix */
					background: none;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/default/arrow-left.png', sizingMethod='scale'); 
				}
				.calendar-eightysix.default .c86-header .c86-arrow-left:hover {
					//background-image: url('../img/default/arrow-left-hover-blue.png');
					background-color:#eeeeee;
					-webkit-border-radius:3px;
				    -moz-border-radius:3px;
					border-radius:3px;
				}
			.calendar-eightysix.default .c86-header .c86-arrow-right {
				background: transparent url('../img/arrow-right.png') center no-repeat;
				-webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			  	-moz-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  				transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			}
				*html .calendar-eightysix.default .c86-header .c86-arrow-right { /* IE6 png fix */
					background: none;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/default/arrow-right.png', sizingMethod='scale'); 
				}
				.calendar-eightysix.default .c86-header .c86-arrow-right:hover {
					//background-image: url('../img/default/arrow-right-hover-blue.png');
					background-color:#eeeeee;
					-webkit-border-radius:3px;
				    -moz-border-radius:3px;
					border-radius:3px;
				}
			
			*html .calendar-eightysix.default .c86-header .c86-label {
				width: 130px;
				
			}
			.calendar-eightysix.default .c86-header .c86-label {
				margin: 0px 0px 0px 7px;
				color: #959fb0;
				padding-left:10px;padding-right:10px;
				font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				-webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			  	-moz-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  				transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			}
				.calendar-eightysix.default .c86-header .c86-label.c86-clickable:hover {
					color: #6A6969;
					background-color:#eeeeee;
					-webkit-border-radius:3px;
				    -moz-border-radius:3px;
					border-radius:3px;
				}
		
		/* Body */
		
		.calendar-eightysix.default .c86-body {
			height: 200px;
			margin-top:-10px;
			margin-left:0px;
		}
			
			.calendar-eightysix.default .c86-body .c86-inner .c86-container {
				width: 240px;
				height: 200px;
			}
			
			/* General container */
			
			.calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row {
				width: 250px;

			}
				.calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row.c86-even,
				  .calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row.c86-even div {
					//background-color: #abc;
					-webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			  		-moz-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  					transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;

				}
				.calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row.c86-odd div {
					//background-color: #ffffff;
					-webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
			  		-moz-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  					transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
				}
				
				.calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row div.c86-today {
					//text-decoration: underline;
					background-color:#ddd;
					-webkit-border-radius:3px;
				    -moz-border-radius:3px;
					border-radius:3px;
					-webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
				  	-moz-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  					transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
				}
				.calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row div.c86-selected {
					//text-decoration: underline;
					background:#3464bc;
					color:#fff;
					-webkit-border-radius:3px;
				    -moz-border-radius:3px;
					border-radius:3px;
					font-weight: bold;
					//color: #8eaec1 !important;
					-webkit-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
				  	-moz-transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  					transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;

				}
				
				.calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row div.c86-non-selectable,
				  .calendar-eightysix.default .c86-body .c86-inner .c86-container .c86-row div.c86-non-selectable:hover {
					color: #dcdcdc !important;
					cursor: default !important;
				}
			
			/* Month */
			
			.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row.a div {
				cursor: default !important;
				color: #888 !important;
			}
			
			.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row {
				height: 18px;
				margin-top:0px;
			}
				
				.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row div {
					margin-top: 0px;
					width: 24px;
				}
				
				.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row div.c86-first {
					margin-left: 15px;
				}
				.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row div.c86-last {
					margin-right: 15px;
				}
				
				.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row div.c86-outside {
					color: #dedede;
				}
				.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row.c86-even div.c86-outside {
					color: #cecece;
				}				
					.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month .c86-row.a div {
						color: #9c9c9c;
					}
		
			/* Year & decade */
			
			.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-year-decade .c86-row {
				height: 52px;
			}
				.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div {
					width: 42px;
					padding-top: 15px;
					height: 23px;
					margin-left:5px;
					margin-top:10px;
				}
					.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div.c86-first {
						margin-left: 15px;
					}
					.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div.c86-last {
						margin-right: 15px;
					}
					
					*html .calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div.c86-first { /* IE6 fix */
						margin-left: 9px;
					}
					*html .calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div.c86-last { /* IE6 fix */
						margin-right: 9px;
					}
					
					.calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-month.c86-pickable .c86-row div:hover, 
					  .calendar-eightysix.default .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div:hover {
						color: #6A6969;
						background-color:#eeeeee;
						-webkit-border-radius:3px;
				    	-moz-border-radius:3px;
						border-radius:3px;

					}
		
		/* Footer */
		
		.calendar-eightysix.default .c86-footer {
			//background: transparent url('../img/default/footer-blue.png') top no-repeat;
			height: 4px;
		}
				*html .calendar-eightysix.default .c86-footer { /* IE6 png fix */
					background: none;
					//filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/default/footer-blue.png', //sizingMethod='scale'); 
				}


/* Red style */

.calendar-eightysix.default.red .c86-header .c86-arrow-left:hover {
	background-image: url('../img/default/arrow-left-hover-red.png');
}
.calendar-eightysix.default.red .c86-header .c86-arrow-right:hover {
	background-image: url('../img/default/arrow-right-hover-red.png');
}
.calendar-eightysix.default.red .c86-header .c86-label {
	color: #d13a3a;
}
	.calendar-eightysix.default.red .c86-header .c86-label.c86-clickable:hover {
		color: #d06d6d;
	}
.calendar-eightysix.default.red .c86-footer {
	background-image: url('../img/default/footer-red.png');
}
	*html .calendar-eightysix.default.red .c86-footer { /* IE6 png fix */
		background: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/default/footer-red.png', sizingMethod='scale'); 
	}
.calendar-eightysix.default.red .c86-body .c86-inner .c86-container.c86-month.c86-pickable .c86-row div:hover, 
  .calendar-eightysix.default.red .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div:hover {
	color: #b90000;
}
.calendar-eightysix.default.red .c86-body .c86-inner .c86-container .c86-row div.c86-selected {
	color: #b90000 !important;
}

/* Green style */

.calendar-eightysix.default.green .c86-header .c86-arrow-left:hover {
	background-image: url('../img/default/arrow-left-hover-green.png');
}
.calendar-eightysix.default.green .c86-header .c86-arrow-right:hover {
	background-image: url('../img/default/arrow-right-hover-green.png');
}
.calendar-eightysix.default.green .c86-header .c86-label {
	color: #73a642;
}
	.calendar-eightysix.default.green .c86-header .c86-label.c86-clickable:hover {
		color: #73a642;
	}
.calendar-eightysix.default.green .c86-footer {
	background-image: url('../img/default/footer-green.png');
}
	*html .calendar-eightysix.default.green .c86-footer { /* IE6 png fix */
		background: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/default/footer-green.png', sizingMethod='scale'); 
	}
.calendar-eightysix.default.green .c86-body .c86-inner .c86-container.c86-month.c86-pickable .c86-row div:hover, 
  .calendar-eightysix.default.green .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div:hover {
	color: #73a642;
}
.calendar-eightysix.default.green .c86-body .c86-inner .c86-container .c86-row div.c86-selected {
	color: #9abd79 !important;
}