div.black_overlay
{
	display:none;
	position:fixed;
	top:0%;
	left:0%;
	bottom:0%;
	right:0%;
	width:100%;
	height:100%;
	background-color:black;
	z-index:1001;
	-moz-opacity:0.5;
	opacity:0.5;
	filter:alpha(opacity=50);
 }
div.clear_overlay
{
	display:none;
	position:fixed;
	top:0%;
	left:0%;
	bottom:0%;
	right:0%;
	width:100%;
	height:100%;
	background-color:black;
	z-index:1001;
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
 }

table.alert {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	height: 0;
	border-bottom:1px solid #dddddd;
	width:100%;
}

td.alert{
	border: 0;
	outline: 0;
	cursor: default;
	vertical-align:text-middle;
	text-align:left;
	padding: 0px 0px 10px 0px;
}

div.white_content
{
	font-size:11pt;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-125px;
	margin-left:-225px;
	padding: 20px;
	z-index:1002;
	overflow: auto;
	text-align:left;

	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	
	/* css3 border radius */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	
	background:#fff;
	/* styling of the dialog box, i have a fixed dimension for this demo */ 
	width:450px; 
	
	/* make sure it has the highest z-index */
	position:absolute; 
	z-index:5000; 

	/* hide it by default */
	display:none;
	
	text-align:right;

}

input.alert {
    border:0px;
	font-size:10pt;

	/* styles for button */
	text-align:center;
	vertical-align:top;
	width:70px;
	height:24px;
	padding: 0px 5px 2px 5px;
	margin-top:10px;
	color: #fff;
	text-decoration: none;
	//font-weight: bold;
	
	/* button color */
	background-color: #3464bc;
	
	/* css3 implementation :) */
	/* rounded corner */
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
    -webkit-transition: background 0.2s linear, border 0.2s linear;
    -moz-transition: background 0.2s linear, border 0.2s linear;
    transition: background 0.2s linear, border 0.2s linear;

	position: relative;
	cursor: pointer;
}

input.alert:hover, input.alert:focus {
	background-color: #204ba3;	
}

img.alert {
	border:0px;
}

span.alert-title {
	font-size:14pt;
}
