@import url(font-san-francisco.css);

#site-wrapper {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}

#site-canvas {
    width:100%;
    height:100%;
    position:relative;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    transition: 300ms ease all;
}

#site-form {
    width:450px;
    height:calc(100% - 10px);
    position:absolute;
    top:0px;
    left:100%;
    padding:5px;
    background-color:#ffffff;
    z-index:1002;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    transition: 300ms ease all;
}

/* General */
html, body {
	margin:0;
	padding:0;
	height:100%;
	border:none;
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:10pt;
}

h1 { font-size:13pt; line-height:110% }
h2 { font-size:12pt; line-height:110% }
h3 { font-size:11pt; font-weight:normal; line-height:110% }
h4 { font-size:10pt: font-weight:normal; line-height:110% }

img { border:0px; }

body.index {
	min-width:920px;
}

iframe {
	border:0px;
	height:100%;
	width:100%;
	display:block;
}

table {
	border-collapse:collapse;
	padding:0px;
	margin:0px;
}

table.main {
	width:100%;
	height:100%;
}

input, select, textarea, radio {
	margin: 1px 0;
	padding: 3px 2px 2px 2px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
  	border-color: #cccccc; 	
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:10pt;
	font-weight:300;
	outline: none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	border-radius:3px;
    -webkit-transition: background 0.2s linear, border 0.2s linear;
    -moz-transition: background 0.2s linear, border 0.2s linear;
    transition: background 0.2s linear, border 0.2s linear;
}

input:focus, textarea:focus {
	background: #eef8fb;
}

a:link, a:visited {
	text-decoration:none;
	color:#204ba3;
}

a:hover { text-decoration:underline; }

/* Top menu */
tr.topmenu {
	height:45px;
	color:#ffffff;
	background-color:#1d1f21;
}

td.topmenu {
	padding:1px 16px 0px 16px;
	color:#ffffff;
	background-color:#1d1f21;
	cursor:default;
}

span.topmenu {
    -moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;	
    -webkit-transition: opacity 0.2s linear, background 0.2s linear;
    -moz-transition: opacity 0.2s linear, background 0.2s linear;
    transition: opacity 0.2s linear, background 0.2s linear;
    top:-4px;
	padding:3px;
    cursor:pointer;
    margin-right:5px;
}

span.topmenuicon {
    font-size:18px;
    top:3px;
}

span.topmenusel {
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
    background:#3464bc;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-transition: opacity 0.2s linear, background 0.2s linear;
    -moz-transition: opacity 0.2s linear, background 0.2s linear;
    transition: opacity 0.2s linear, background 0.2s linear;
    top:-4px;
	padding:3px;
    margin-right:5px;
    cursor:pointer;
    color:#ffffff;
}
span.topmenu:hover{
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
}

img.topmenu {
	margin-left:4px;
	margin-right:6px;
	margin-top:0px;
	padding:5px;
	vertical-align:text-middle;
	cursor:pointer;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;	
    -webkit-transition: opacity 0.2s linear, background 0.2s linear;
    -moz-transition: opacity 0.2s linear, background 0.2s linear;
    transition: opacity 0.2s linear, background 0.2s linear;
    border:0px;
    height:18px;width:18px;
    //border:solid 1px #555;
    //background:#444;
	border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}

img.topmenusel {
	margin-left:4px;
	margin-right:6px;
	margin-top:0px;
	vertical-align:text-middle;
    cursor:pointer;
    border:0px;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;	
    height:18px;width:18px;
    padding:5px;
    background:#3464bc;
	border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-transition: opacity 0.2s linear, background 0.2s linear;
    -moz-transition: opacity 0.2s linear, background 0.2s linear;
    transition: opacity 0.2s linear, background 0.2s linear;
}

img.topmenu:hover{
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;	
}

p.top-left {
	float: left;
	display: inline;
	padding: 0;
	margin: 0;
	margin-top:1px;
	text-align: left;
}

p.top-right {
	float: right;
	display: inline;
	padding: 0;
	margin: 0;
	margin-top:5px;
	width: 40px;
	text-align: right;
}

p.top-center {
	float: right;
	display: inline;
	padding: 0;
	margin: 0;
	width: 350px;
	padding-top:7px;
	text-align: right;
	font-size:11pt;
	margin-right:10px;
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* left menu */
td.leftmenu {
	height:100%;
	padding:0px;
	background-color:#eeeeee;
	border-right:solid 1px #dfe0e2;
	vertical-align:top;
}

div.leftmenu {
	padding:11px 20px 9px 20px;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #cacbcf;
	cursor: pointer;
}

div.leftmenusel {
	padding:11px 20px 9px 20px;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #cacbcf;
	cursor: pointer;
	background:url(../img/leftmenusel.png);
	background-repeat:no-repeat;
	background-position:0% 9px;
	cursor:pointer;
}

div.leftmenu:hover {
	background-color:#eef8fb;
}

div.leftmenusel:hover {
	background-color:#eef8fb;
}


/* Content (right side) */
td.content {
	padding:0px;
	width:100%;
	height:100%;
	vertical-align:top;
	cursor:default;
}

td.search {
	height:480px;
	//width:100%;
	padding:0px;
	margin:0px;
	vertical-align:top;
}

td.listing {
	height:480px;
	width:400px;
	padding:0px;
	margin:0px;
	vertical-align:top;
}

td.total {
	height:480px;
	padding:0px;
	margin:0px;
	width:400px;
	vertical-align:top;
	cursor:default;
}

td.bottom {
	background-color:#f2f2f2;
	padding:0px;
	margin:0px;
	vertical-align:top;
}

/* Footer */
tr.footer {
	height:28px;
}

td.footer {
	padding: 2px 8px 2px 8px;
	background-color:#1d1f21;
	clear:both;
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:9pt;
	font-weight:300;
	color: #dddddd;
	overflow: hidden;
	cursor:default;
}

p.bottom-left {
	float: left;
	display: inline;
	padding: 0;
	margin: 0;
	text-align: left;	
}

p.bottom-right {
	float: right;
	display: inline;
	padding: 0;
	margin: 0;
	width: 400px;
	text-align: right;
}

/* Sortable */
th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime {
	cursor:pointer;
	background: #eeeeee;
	padding: 4px 18px 2px 18px;
	border-bottom:1px solid #cacbcf;
}

th.forwardSort {
	background:#dddddd url(../img/sortdown.png) no-repeat 0 0;
	background-position:right center;
}

th.reverseSort {
	background:#dddddd url(../img/sortup.png) no-repeat 0 0;
	background-position:right center;
}

table thead th.forwardSort a,
table thead th.reverseSort a {
	color:#204ba3;
	text-decoration:none;
}

/*
These styles should be added when very long tables are expected
th.sort-active
{
	background:#eeeeee;
	cursor:wait;
}

th.sort-active a
{
	color:#a80000 !important;
	cursor:wait;
}
*/

th a:link {
	text-decoration:none;
	color: #204ba3;
}

th a:hover {
	text-decoration:none;
	color: #204ba3;
}

th a:visited {
	text-decoration:none;
	color: #204ba3;
}

td a:link {
	text-decoration:none;
	color:#204ba3;
}

td a:visited {
	text-decoration:none;
	color:#204ba3;
}
        
td a:hover { text-decoration:underline; }

td img {
	margin:0 auto;
	border:3px solid #ddd;
}

td {
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:10pt;
	border-bottom: 1px solid #ededed;
	padding: 4px 10px 2px 10px;
}

td.lft {
	text-align:left;
}

tr.alt {
	background: #f6f7f9;
}

tr.alt-cashier {
	background: #eeeeee;
}

/* Toolbar */
div.toolbar {
	width:100%;
	height:25px;
	background:#eeeeee;
	padding-bottom:5px;
}

div.toolbar-only {
	width:100%;
	height:25px;
	background:#eeeeee;
	border-bottom:1px solid #cacbcf;
}

p.toolbar-left {
	position:absolute;
	display: inline;
	float:left;
	padding: 0;
	margin: 0;
	text-align: left;
	z-index:2;
}

p.toolbar-right {
	position:absolute;
	display:inline;
	float:right;
	padding: 0;
	margin: 0;
	text-align: right;
	width:100%;
}

div.toolbar-text {
	padding:4px 0px 4px 10px;
}

img.toolbar-left {
	border:0px;
	vertical-align:text-middle;
	padding:4px 9px 4px 5px;
}

img.toolbar-middle {
	border:0px;
	vertical-align:top;
	padding:5px 0px 4px 10px;
}

img.toolbar-right {
	border:0px;
	vertical-align:top;
	padding:5px 9px 4px 5px;
}

img.toolbar-tabled {
	border:0px;
}

table.toolbar {
	width:100%;
	height:25px;
}

input.livesearch {
	vertical-align:top;
	margin-right:5px;
	margin-top:3px;
	display:inline;
	padding:2px 10px;
	color: #6A6969;
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size:10pt;
	border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
}

input.livesearch:hover {
	border:1px solid #959fb0;	
}

input.livesearch:focus {
	border:1px solid #959fb0;	
}

div.searchStatus {
	padding:20px;
	text-align:center;
	vertical-align:middle;
}

table.searchTable {
	width:100%;
}

/* Data Forms */
form {
	margin: 10px 10px 10px 10px;
	padding: 5px 10px 5px 10px;
	background: #F3F4F5;
	border: 1px solid #E2E4E7;
	width: 500px;
}

form table {
	width:100%;
}

form p {
	color: #2C76A6;
}

form input, textarea {
	border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    margin-bottom:10px;
    
}

form input:focus {
	background: #eef8fb;
}

label {
	padding-left:1px;
}

form select {
	margin-bottom:10px;
}

form img {
	vertical-align:top;
	padding-top:4px;
}

img.action-icon {
	cursor:pointer;
}

form input.process {
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:10pt;

	/* styles for button */
	text-align:center;
	vertical-align:top;
	width:70px;
	height:24px;
	padding: 0px 5px 2px 5px;
	margin: 0px 0px 10px 0px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	
	/* button color */
	background-color: #3464bc;
	
	/* css3 implementation :) */
	/* rounded corner */
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	/* text shadow */
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

input.process {
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:10pt;

	/* styles for button */
	text-align:center;
	vertical-align:top;
	width:70px;
	height:24px;
	padding: 0px 5px 2px 5px;
	margin: 0px 0px 10px 0px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	
	/* button color */
	background-color: #3464bc;
	
	/* css3 implementation :) */
	/* rounded corner */
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	/* text shadow */
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

form input.process:hover {
	background-color: #204ba3;	
}

form td {
	font-family: 'San Francisco Display', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:10pt;
	border:none;
	padding:3px 3px 3px 3px;
	cursor:default;
}

form td input {
	margin:0px;
}

/* Submenu */
table.submenu {
	border-collapse:collapse;
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
}

td.submenu {
	vertical-align:top;
	padding:0px;
	margin:0px;
	border:none;
	background-color:#eeeeee;
	border-right:solid 1px #dfe0e2;
	width:110px;
	text-align:center;
}

td.subcontent {
	vertical-align:top;
	padding:0px;
	margin:0px;
	border:none;
}

a.submenu:link, a.submenu:visited {
	text-decoration:none;
	color:#000000;
}

a.submenu:hover { 
	text-decoration:none; 
	color:#000000;
}

div.leftsubmenu {
	padding:12px 20px 9px 20px;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #cacbcf;
	cursor: pointer;
}

/* Listable */
tr.listable {
	padding:0px;
}

th.listable {
	background: #eeeeee;
	padding: 2px 5px 2px 5px;
	vertical-align:text-middle;
	align:center;
}

img.listable{
	padding:1px 1px 1px 1px;
	cursor:pointer;
	border:0px;
	vertical-align:text-bottom;
}

div.edit-list {
	margin:10px 0px 20px 0px;
	border:1px solid #dddddd;
	background:#ffffff;
}

pre {
	margin: 10px 10px 10px 10px;
	padding: 5px 10px 5px 10px;
	background: #F3F4F5;
	border: 1px solid #E2E4E7;
	width: 500px;
	font-size:8pt;
	letter-spacing:-1px;
	color:#888888;
}

input.cashreg {
	font-size:36pt;
	text-align:right;
	font-weight:bold;
	background-image:url(../img/digit-background.png);
	background-repeat:x-repeat;
}

td.time-card-top {
	font-size:8pt;
	background-color:#ffffff;
	text-align:center;
}

td.time-card {
	font-size:8pt;
	background-color:#ffffff;
	text-align:center;
	border-top:1px solid #888888;
}

td.time-card-print {
	padding:0px;
	font-size:8pt;
	color:#662d91;
	background-color:#ffffff;
	text-align:center;
	border-top:1px solid #888888;
}

td.time-card-center {
	width:5px;
	border-left:5px solid #ffffff;
	border-right:5px solid #ffffff;
}
