div.popup-white-content {
	padding-top:45px;
	padding-left:108px;
	font-size:11pt;
	padding:5px;
	background: #ffffff;
	overflow: hidden;
	text-align:left;
	width: 500px;
	/*height: 600px;*/
	height: 90%;
	display:none; /* hide it by default */
	
	/* make sure it has the highest z-index */
	position:absolute; 
	z-index:9999; 

	/* css3 drop shadow */
	-webkit-box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.75);
	
	/* css3 border radius */
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.popup-white-content > img {
	display: block;
}

div.popup-white-content iframe {
	width:100%;
	height:95%;
	overflow:hidden;
	
}